*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100%;
    width: 100%;
    background: #131313;

}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}
.button-box{
   width: 220px;
   margin: 35px auto;
   box-shadow: 0 0 20px 9px #ff61241f;
   border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}